/*icono nf de la navbar*/
#img-icono-navbar{
    height: 40px;
    width: 40px;
}
.carousel-inner{
    max-height: 30rem;
}
@media(max-width:576px){
    #intro{
        width: 90% !important; 
    }
    .producto_fila{
        width: 100% !important;
    }
    #equipo{
        width: 90% !important;
    }
}

#inicio{
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 6px;
}
.datos{
    font-size:large;
    color:darkcyan;
    display: flex;
    padding: 30px;
}

.controles {
    width: 200px;
    height: 20px;
}
#formulario{
    display: flex;
    flex-direction: column;
}